/temp1
/tnf_old
/omni_old
/cranial_old
/compiletest_old
/depchecktest_old
/importloop_old
/sensortest_err_old
/sensortest_load_err_old
/symwarn_old
/textual_load_old
*.ergo
/negimplication_dyn_old
/negimplication_old
/omni_ergo_old
/compiletest_ergo_old
terminyzer*_floralog
/terminyzer_summary.flr
*.log
/omniclause_old
/tian_old
/terminyzer1_xsblog
/terminyzer2_xsblog
/evalexpr_ergo_old
/terminyzer1_xsblog_ergo
/terminyzer2_xsblog_ergo
/textual_load_ergo_old
/cranial_ergo_old
/tnf_ergo_old
/template_compile_old
*.ergonlt
/template1_old
*.ergotxt
/template3_old
/template_compile2_old
/template_steve_old
/in_old
/unicodetest_err_old
/maxerr_old
/depchecktest_ergo_old
