/*.P-miguel
/flrtesthook.flh
/debugger/ergoisms/
/debugger/ergoisms/*
/datatype/ergoisms/
/datatype/ergoisms/*
/ergo_demos/
/ergo_demos/*
/ergo_demos/*/*
/ergo_pkgs/
/ergo_pkgs/*
/ergo_pkgs/*/*
/ergo_lib/
/ergo_lib/*
/ergo_libinc/
/ergo_libinc/*
/ergosuite/
/ergosuite/install/*
/ergosuite/*
/opt/
/ergoisms/
/ergoisms/*
/makeergo.bat
/makeergo
/makeergolite.bat
/makeergolite
/ergosuite_config.sh
*.expiration.msg
/errors_tests_ergo_old
/ergoconfig.bat
/ergoconfig
/.installation.msg
*.*-old
*.ergoact.dat
/runergo.bat
